.button {
  background-color: var(--color-primary);
  border: 3px solid var(--color-symbol);
}

.button:focus {
  outline: 5px dashed var(--color-symbol);
}

.button:hover {
  background-color: var(--color-symbol);
  border-color: var(--color-primary);
  fill: var(--color-primary);
  box-shadow: 0 0 3px 3px var(--color-symbol);
}

.on {
  background-color: var(--color-primary-darker);
}

.on:hover {
  fill: var(--color-symbol);
  background-color: var(--color-primary-muted);
  border-color: var(--color-primary-darker);
}
.off:hover {
  fill: var(--color-symbol);
  background-color: var(--color-primary-darker);
  border-color: var(--color-primary-muted);
}

.off {
  background-color: var(--color-primary-muted);
  fill: #000000d0;
  border-color: #000000d0;
}
