/*#region .container*/
.container {
  display: grid;
  max-width: 100vw;
  min-height: 100vh;
}
.container.xWide {
  grid-template-columns: min-content 1fr;
}

.container.skinny,
.container.wide {
  grid-template-rows: min-content 1fr min-content;
}
/*#endregion*/

/*#region .infoPanel*/
.infoPanel {
  background-color: var(--color-pokemon-blue-translucent);
  color: var(--color-pokemon-yellow);
  fill: var(--color-pokemon-yellow);
  gap: 1em;
}
.infoPanel.xWide {
}
.infoPanel.wide {
  grid-row: 1;
}

.infoPanelChildren {
  display: grid;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
.infoPanelChildren.xWide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 1em;
  padding: 0.5em;
}

.infoPanelChildren.wide {
  grid-template-areas: "pokedex stats saveInterface";
  padding: 1em;
}

.infoPanel.skinny {
  border-bottom: 3px solid var(--color-pokemon-yellow);
  max-width: 100vw;
}
.infoPanelChildren.skinny {
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content;
  padding: 1em;
}
.saveInterface.skinny {
  grid-column: 1/-1;
  grid-row: 1;
  justify-content: center;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
}
.pokedex.skinny {
  grid-column: 1;
  grid-row: 2;
}
.stats.skinny {
  grid-row: 2;
  grid-column: 2;
  border: 2px solid var(--color-pokemon-yellow);
  border-radius: 10px;
}
.statsSections.skinny {
  flex-direction: column;
}
.saveInterface {
  grid-area: saveInterface;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.stats {
  grid-area: stats;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
}
.stats.xWide,
.stats.wide {
  border-radius: 10px;
  border: 2px solid var(--color-pokemon-yellow);
}

.statsSections {
  display: flex;
  gap: 1em;
}

.statsSections.xWide,
.statsSections.wide {
  flex-direction: column;
  height: 100%;
}

/*#endregion*/

/*#region .cards*/
.cards {
  display: grid;
  gap: 1em;
  padding: 0.5em;
  height: max-content;
}

.cards.xWide {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.cards.wide {
  grid-row: 2;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
}
.cards.skinny {
  grid-row: 2;
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
}
/*#endregion*/

/*#region .footer*/
.footer {
  background-color: var(--color-pokemon-blue-translucent);
  color: var(--color-pokemon-yellow);
  grid-column: 1/-1;
  width: 100%;
  fill: var(--color-pokemon-yellow);
  padding: 0.25em;
}
.footer.xWide {
  background-color: transparent;
}
.footer.wide {
  grid-row: 3;
}
.footer.skinny {
}
/*#endregion*/
