.container {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
}

@media (max-width: 775px), (orientation: portrait) {
  .container {
    grid-template-rows: auto max-content;
    grid-template-columns: auto;
  }
}
