div.app-container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: 100vh;
}

.app-header {
  grid-row: 1;
}

.app-game-board {
  grid-row: 2;
  min-height: 100%;
}

.app-footer {
  grid-row: 3;
}
