.container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-pokemon-blue-translucent);
  padding: 1em;
  color: var(--color-pokemon-yellow);
  fill: var(--color-pokemon-yellow);
  gap: 1em;
}

.buttonsContainer {
  display: flex;
  gap: 0.5em;
}
