.container {
  width: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min-content;
  background-color: var(--color-pokemon-blue-translucent);
  padding: 1em;
  color: var(--color-pokemon-yellow);
  fill: var(--color-pokemon-yellow);
  gap: 1em;
  height: 100%;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.button {
  border: 3px solid var(--color-pokemon-yellow);
  color: var(--color-pokemon-yellow);
}

.button > svg,
.button.off:hover > svg {
  fill: var(--color-pokemon-yellow);
}
.button:hover > svg {
  fill: var(--color-pokemon-blue);
}
.button:focus {
  outline: var(--focus-outline);
}

.button:hover {
  background-color: var(--color-pokemon-yellow);
  color: var(--color-pokemon-blue);
  border-color: var(--color-pokemon-blue);
  box-shadow: 0 0 3px 3px var(--color-pokemon-yellow);
}
.button,
.on,
.off:hover {
  background-color: var(--color-pokemon-blue);
}

.on:hover,
.off {
  background-color: var(--color-pokemon-blue-translucent);
  border-color: var(--color-pokemon-yellow-translucent);
}
.button.on:hover > svg,
.button.off > svg {
  fill: var(--color-pokemon-yellow-translucent);
}
.off:hover {
  border-color: var(--color-pokemon-yellow);
}

.on:hover,
.off:hover {
  box-shadow: 0 0 3px 3px var(--color-pokemon-blue);
}

.childrenContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  height: 100%;
}

@media (width <= 775px) {
  .container {
    width: 100%;
    display: grid;
    grid-template-rows: min-content max-content;
    grid-template-columns: max-content max-content max-content;
    justify-content: space-between;
    padding-bottom: 0.5em;
  }
  .headerText {
    grid-row: 1;
    grid-column: 1;
    font-size: 1.5rem;
  }
  .buttonsContainer {
    grid-row: 1;
    grid-column: 2/-1;
    justify-self: end;
  }
  .childrenContainer {
    grid-row: 2;
    grid-column: 1/-1;
    flex-direction: row;
  }
}

@media (width < 500px) {
  .container {
    width: 100%;
    grid-template-rows: min-content min-content;
    grid-template-columns: min-content min-content;
  }
  .headerText {
    grid-row: 1;
    grid-column: 1;
    font-size: 1.5rem;
  }
  .buttonsContainer {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
  }
}
