.popupContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 100;
  background-color: #000000cc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: var(--color-pokemon-blue);
  border-radius: 10px;
  border: 5px solid var(--color-pokemon-yellow);
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.popupCloseButton {
  font-size: 1.75rem;
  padding: 0.25em;
  background-color: var(--color-pokemon-blue);
  color: var(--color-pokemon-yellow);
  border: 3px solid var(--color-pokemon-yellow);
}

.popupCloseButton:focus,
.popupCloseButton:hover {
  background-color: var(--color-pokemon-yellow);
  color: var(--color-pokemon-blue);
  border-color: var(--color-pokemon-blue);
  box-shadow: 0 0 3px 3px var(--color-pokemon-yellow);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}
.subsection {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.subsectionHeader {
  justify-self: center;
  align-self: center;
  border-bottom: 3px solid var(--color-pokemon-yellow);
  padding-left: 1em;
  padding-right: 1em;
}
.subsectionText {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-left: 1em;
}
