.card {
  border-radius: 10px;
  border: 5px solid var(--color-pokemon-yellow);
  background-color: var(--color-pokemon-yellow);
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: 0.15s;
}

.card:hover,
.card:focus {
  transform: scale(1.15);
  box-shadow: 0 4px 8px black;
}
.card:focus {
  outline: var(--focus-outline);
}
.cardBody {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 3px solid silver;
  border-radius: 10px;
  overflow: hidden;
}
.cardName {
  background-color: #ffffffcc;
  border-bottom: 3px solid silver;
  font-size: 0.9rem;
  font-weight: 650;
  padding: 0.25em;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
