.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
  gap: 0.5em;
  grid-column: 1/-1;
  margin-top: auto;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyrightIconYear {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
}
.copyrightIcon {
  width: 20px;
  height: 20px;
}

.disclaimer {
  font-size: 0.5rem;
  border-top: 1px solid var(--color-pokemon-yellow);
  text-align: center;
  padding-top: 0.5em;
}

@media (width <= 775px), (orientation: portrait) {
  .container {
    background-color: var(--color-pokemon-blue-translucent);
    color: var(--color-pokemon-yellow);
    flex-direction: column;
    gap: 0.25em;
    padding: 0.25em;
  }
  .copyright {
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
    font-size: 0.75rem;
  }
  .copyrightIcon {
    fill: var(--color-pokemon-yellow);
    width: 15px;
    height: 15px;
  }
  .disclaimer {
    font-size: 0.5rem;
  }
}
