.container {
  display: flex;
  flex-direction: column;
  width: max-content;
  align-items: center;
  justify-content: center;
  background-color: var(--color-pokemon-blue-translucent);
  border: 1px solid var(--color-pokemon-yellow);
  padding: 0.5em;
  width: 100%;
}
.sections {
  display: flex;
  flex-direction: column;
  width: max-content;
  align-self: start;
  gap: 1em;
  padding: 0.5em;
}

.displayHeader {
  border-bottom: 1px solid var(--color-pokemon-yellow);
  padding-left: 0.25em;
  width: 100%;
  text-align: center;
  padding: 0.25em;
}

.section {
  display: flex;
  flex-direction: column;
}
.sectionHeader {
  border-bottom: 1px solid var(--color-pokemon-yellow);
  padding-right: 3rem;
}
.endRunButton {
  width: 90%;
  background-color: var(--color-pokemon-blue);
  color: var(--color-pokemon-yellow);
  border: 3px solid var(--color-pokemon-yellow);
  padding: 0.25em;
}
.endRunButton:hover {
  background-color: var(--color-pokemon-yellow);
  color: var(--color-pokemon-blue);
  border-color: var(--color-pokemon-blue);
  box-shadow: 0 0 3px 3px var(--color-pokemon-yellow);
}

.statWrapper {
  display: flex;
  justify-content: space-between;
}
